PORT=3000
MONGO_URI=mongodb+srv://kanhaiyajnvs_db_user:kanhaiya@cluster0.0ipjnz6.mongodb.net/
DB_NAME=futureblink_ai_flow
CLIENT_URL=http://localhost:5173
OPENROUTER_API_KEY=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
OPENROUTER_MODEL=google/gemini-2.0-flash-lite-preview-02-05:free
